@{
    Layout = "";
}

@model List<GreenFarm.Models.OrderElement>


<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Grow</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Grow.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>



    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i">

    <meta property="og:title" content="Grow">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ff7070">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">

    <partial name="~/Views/Shared/Header.cshtml" />

    <section class="u-clearfix u-section-1" id="sec-86df">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-text u-text-default u-text-1">Посажено</h2>
        </div>
    </section>
    @foreach (var item in Model)
    {

        <section class="u-clearfix u-section-2" id="sec-c78c">
            <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-13 u-size-20-md u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <img src="@item.item.ImagePath" alt="" class="u-image u-image-contain u-image-default u-image-1" data-image-width="1024" data-image-height="683" data-href="~/Home/Order?OrderId=@item.OrderId">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-11 u-size-20-md u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h3 class="u-text u-text-1">
                                    @item.item.Name<br>
                                </h3>
                                <h5 class="u-text u-text-default u-text-2">@item.UserName</h5>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-12 u-size-20-md u-layout-cell-3">
                            <div class="u-container-layout u-container-layout-3">
                                <h2 class="u-text u-text-default u-text-3">@item.GrowStart.ToString("M")</h2>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-12 u-size-30-md u-layout-cell-4">
                            <div class="u-container-layout u-container-layout-4">
                                <h2 class="u-text u-text-default u-text-4">@item.HarvestDate.ToString("M")</h2>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-12 u-size-30-md u-layout-cell-5">
                            <div class="u-container-layout u-valign-middle u-container-layout-5">
                                <a href="~/Home/Order?OrderId=@item.OrderId" class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-none u-btn-1"># @item.OrderId</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <partial name="~/Views/Shared/Footer.cshtml" />
    <partial name="~/Views/Shared/ToTop.cshtml" />

</body>
</html>